body {
  margin: 0;
  padding: 0;
  background-image: url("img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left {
  /* border: 2px solid red; */
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: center;
}

.left img {
  filter: invert(100%);
  width: 74px;
}

.left div {
  margin-top: 4px;
  font-size: 17px;
  /* color: rgb(29, 201, 29); */
}

.mid {
  /* border: 2px solid green; */
  width: 60%;
  margin: 20px auto;
  font-size: 22px;
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: rgb(29, 201, 29);
}

.right {
  /* border: 2px solid yellow; */
  position: absolute;
  top: 35px;
  right: 20px;
}

.btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(29, 201, 29);
  border-radius: 10px;
  margin: 9px 3px;
  padding: 4px 15px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.btn:hover {
  color: rgb(29, 201, 29);
}

.container {
  border: 2px solid green;
  font-size: large;
  width: 33%;
  margin: 60px 60px;
  float: right;
  padding: 40px 47px;
}

.container h1 {
  text-align: center;
}

.form-group input {
  display: block;
  margin: 9px auto;
  width: 70%;
  border-radius: 5px;
}

.container button.btn {
  display: block;
  width: 70%;
  margin: 22px auto 0;
}
